// Basic colors
$white: #FFF;
$black: #000;
$app-black: #242424;
$app-gray: hsl(0, 0%, 46%);

// Text colors
$txt-header-title: $white;
$txt-title-1: #284B80;
$txt-card-info: #284B80;

// Background colors
$bg-header: #284B80;
$bg-app-body: #E9EAEF;

// Layout
$bdr-type-1: $app-gray;
$app-border: #284B80;

$header-height: 60px;
$footer-height: 75px;